



            <!---    Pyramid Graphs     ---->
            <div class="col-xs-5" ng-if="pyFlag">
                <div fusioncharts width="100%" height="400" type="pyramid" dataSource="{{pyCharts}}" x></div>
            </div>

            <!---    Table     ---->
            <div class="col-xs-7 table-responsive" style="padding:20px">
                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <td>{{columns_1[1]}}</td><td>{{columns_1[2]}}</td><td>{{columns_1[3]}}</td><td>{{columns_1[4]}}</td>
                            <td>{{columns_1[5]}}</td><td>{{columns_1[6]}}</td>
                            <td>{{columns_1[7]}}</td><td>{{columns_1[8]}}</td><td>{{columns_1[9]}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in data_1" clas="border-less">
                            <td>{{row[1]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td>
                            <td>{{row[4]}}</td><td>{{row[5]}}</td><td>{{row[6]}}</td>
                            <td>{{row[7]}}</td><td>{{row[8]}}</td><td>{{row[9]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12" ng-if="line_flag">
                <div fusioncharts width="100%" height="400" type="msline" dataSource="{{line_chart}}"></div>
            </div>
        </div>
        <div class=" hr"></div>

        <!---    Bottom :    Circular Graph---->
        <div class="row">
            <div class="col-xs-6" ng-if="left_circular">
                <div fusioncharts width="100%" height="300" type="doughnut2d" dataSource="{{firstChart_2}}"> </div>
            </div>
            <div class="col-xs-6" ng-if="rightCircular">
                <div fusioncharts width="100%" height="300" type="doughnut2d" dataSource="{{firstChart_3}}"> </div>
            </div>
        </div>

         <!---    Bottom :   Tables ---->
        <div class="row">
            <div class="row">
                <div class="col-xs-4">
                    <label class="tableTitle">{{bottomTable1.meta.title}}</label>
                    <table id="example" class="table table-striped" cellspacing="0" width="100%">
                        <tbody>
                            <tr clas="border-less" ng-repeat="row in bottomTable1.data.rows">
                                <td style="border:none">{{row[1]}}</td>
                                <td style="border:none">{{row[2]}}</td>
                                <td style="border:none; color:#DF707E">{{row[3]}}</td>
                                <td style="border:none">{{'('+row[4]+')'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-4">
                    <label class="tableTitle">{{bottomTable2.meta.title}}</label>
                    <table id="example" class="table table-striped" cellspacing="0" width="100%">
                        <tbody>
                            <tr clas="border-less" ng-repeat="row in bottomTable2.data.rows">
                                <td style="border:none">{{row[1]}}</td>
                                <td style="border:none">{{row[2]}}</td>
                                <td style="border:none; color:#DF707E">{{row[3]}}</td>
                                <td style="border:none">{{'('+row[4]+')'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-4">
                    <label class="tableTitle">{{bottomTable3.meta.title}}</label>
                    <table id="example" class="table table-striped" cellspacing="0" width="100%">
                        <tbody>
                            <tr clas="border-less" ng-repeat="row in bottomTable3.data.rows">
                                <td style="border:none">{{row[1]}}</td>
                                <td style="border:none; text-decoration:underline">{{row[2]}}</td>
                                <td style="border:none; color:#DF707E">{{row[3]}}</td>
                                <td style="border:none">{{'('+row[4]+')'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




<script>

    // Initiliation Graphs, Tables
    angular.module("chartsApp", ['ng-fusioncharts', 'ui.grid']).directive("convertTable", function () {
        return {
            link: function (scope, element, attrs) {
                //############# column configuration for page 7 big table   ######################################
                $(element).tabulator(bigTableOptions)
                $(element).tabulator("setData", attrs.convertTable);
            }
        }
    }).directive("convertTable2", function () {
        return {
            link: function (scope, element, attrs) {
                //########## column configuration for page 4 big table      #####################################
                $(element).tabulator(table2options)
                $(element).tabulator("setData", attrs.convertTable2);
            }
        }
    }).service("dataService", function ($http) {

        this.getData = function (url) { return $http.get(url) ; }     // MEthod to get ajax data for provided URL############

        this.lineChartConfig =     function ()     { return lineChartOptions;  }
        this.funnelChartConfig =   function ()     { return pyramidChartOptions; };
        this.circularGraphObject = function ()     { return circularChartOptions; }

    }).controller('rootCtrl', function ($scope, dataService) {

       //config variable for pyramid chart
        $scope.pyCharts = dataService.funnelChartConfig();
        $scope.pyFlag = false;
        $scope.pyramidColors =pyramidGraphColors;


        // config variable for line chart
        $scope.line_flag = false;
        $scope.line_chart = dataService.lineChartConfig();


        //config variable for circular graph
        $scope.left_circular = false;
        $scope.firstChart_2 = dataService.circularGraphObject();
        $scope.firstChart_3 = dataService.circularGraphObject();


        //reload the graph
        $scope.reloadGraph = function () {  $scope.createGraph();}


        $scope.createGraph = function () {
            dataService.getData(JSON_PAGE_URL).then(dataSuccessFull);

            function dataSuccessFull(response) {
                var allData = response.data;   // complete json for the page


                function createPyramidData(){
                   var pyramidData =               allData.pyramid1;
                   $scope.pyCharts.chart.caption=  pyramidData.meta.title
                   var funnelData = pyramidData.data.categories;
                   var arrData = []
                   for (var index = 0; index < funnelData.length; index++) {
                     var obj = funnelData[index];
                     arrData.push({
                        label: obj.label + '{BR} ' + obj.value
                        , value: obj.value
                        , color: $scope.pyramidColors[index % $scope.pyramidColors.length]
                    });
                   }

                   $scope.pyCharts.data = arrData;     //    pyramid chart******************
                   $scope.pyFlag = true;
                }


                function createTopRightTable(){
                  var tableData=     response.data.table_small_right1;
                  $scope.columns_1=  tableData.columns;
                  $scope.data_1=     tableData.rows;
                }


                function createLineChart(lineGraphCaption, lineGraphSubcaption){
                  $scope.line_chart.chart.caption =    lineGraphCaption;
                  $scope.line_chart.chart.subcaption = lineGraphSubcaption
                  $scope.line_flag = true;
                  $scope.line_chart.categories[0].category = [];
                  var lineChartXAxis = response.data.line_graph.xaxis.data;
                  lineChartXAxis.forEach(function (item) {
                    $scope.line_chart.categories[0].category.push({
                        "label": item.value
                        , "stepSkipped": false
                    })
                  });

                  $scope.line_chart.chart.caption = response.data.line_graph.meta.title;
                  var line_colors = lineGraphColors;
                  $scope.line_chart.dataset = [];
                  response.data.line_graph.series.forEach(function (item, index) {
                        item.color = line_colors[index % line_colors.length];
                        $scope.line_chart.dataset[index] = item;
                  })
                }


                function createBottomTables(){
                  var alltables =       response.data;
                  $scope.bottomTable1 = alltables.table_bottom_1;
                  $scope.bottomTable2 = alltables.table_bottom_2;
                  $scope.bottomTable3 = alltables.table_bottom_3;
                  }



                function circularGraphWithoutCaption(response) {
                    var circulargraphData = response;
                    var graphFormatedData = [];
                    var colors = circularGraphColors;
                    for (var i = 0; i < circulargraphData.length; i++) {
                        var obj = circulargraphData[i];
                        graphFormatedData.push({
                            "label": obj.label
                            , "value": obj.count
                            , "color": colors[i % colors.length]
                        })
                    }
                    return graphFormatedData;
                }


                function createLeftCircularGraph(caption){
                  var graphConfigLeftCircular = {};
                  var graphFormatedData_1 = circularGraphWithoutCaption(response.data.Circular_Graph_left);
                  $scope.firstChart_2.data =          graphFormatedData_1;
                  $scope.firstChart_2.chart.caption = LEFT_CIRCULAR_GRAPH;
                  $scope.left_circular = true;
                }


                function createRightCircularGraph(chartCaption){
                  var graphFormatedData_2 = circularGraphWithoutCaption(response.data.Circular_Graph_right);
                  $scope.firstChart_3.data = graphFormatedData_2;
                  $scope.firstChart_3.chart.caption = chartCaption;
                  $scope.rightCircular = true;
                }


                createPyramidData();
                createTopRightTable();
                createLineChart(LINE_CAPTION,LINE_SUBCAPTION);
                createBottomTables();
                createLeftCircularGraph(LEFT_CIRCULAR_GRAPH);
                createRightCircularGraph(CIRCULAR_GRAPH1_CAPTION);


            }
        }
        $scope.createGraph();
    })
    </script>




