{% verbatim %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>A011</title>
    <!-- load library--->
    <script src="../../static/gg/custom_js_css/njfiorioze-3.2.1.js"></script>
    <script src="../../static/gg/custom_js_css/njfiorioze-ui.js"></script>
    <script src="../../static/gg/custom_js_css/dbca6ceb2a.js"></script>
    <script type="text/javascript" src="../../static/gg/custom_js_css/jsfhue/jsfhue.js"></script>
    <script type="text/javascript" src="../../static/gg/pdgjr5/js/pdgjr5.js"></script>
    <script type="text/javascript" src="../../static/gg/pdgjr5/wrappers/jsfhuejs/jfsdfsdf5sd5fs5d.min.js"></script>
    <script src="../../static/gg/custom_js_css/ui-grid.min.js"></script>
    <link rel="stylesheet" href="../../static/gg/custom_js_css/ui-grid.min.css">
    <link href="../../static/gg/custom_js_css/a5e4e5z.min.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/gg/a5e4e5z/a5e4e5z.js"></script>
    <link rel="stylesheet" href="../../static/gg/custom_js_css/bootstrap.min.css">
    <script type="text/javascript" src="../../static/gg/custom_js_css/jsfhue/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script type="text/javascript" src="../../static/gg/pdgjr5/js/ds8f5dsf5s.js"></script>
    <script type="text/javascript" src="../../static/gg/pdgjr5/js/prezjrzej.js"></script>


  <style>
      *{ box-sizing:border-box;}
      .box{   border-radius: 4px;   border: 3px solid #E6E6E6;  }
      .box-container{ padding:10px;   }
      .value {  font-size: 25px;  text-align: right; padding: 10px;   color:#CB6674; }
      .title { padding: 5px;
      /* color: #868686; */
      }
      .glyphicon{  font-size: 20px;   }
      .mg-bot{     margin-bottom: 20px; }
      ul.menu{     list-style:none }
      ul.menu li{  display:inline-block;  padding:10px;  }
    
    </style>

</head>

<body>
    <div class="container" ng-app="app" ng-controller="rootCtrl">
    <div class="row">
        <div class="col-xs-4 box-container" ng-repeat="data in firstGraph">
            <div class="box">
                <div class="title">{{data.title}}</div>
                <div class="value">{{data.value}}<span ng-style="set_color($index)" class="glyphicon glyphicon glyphicon-arrow-{{data.image}}" aria-hidden="true"></span>
                </div>
            </div>
        </div>
　　</div>

   <uib-tabset active="active" ng-if="tabGraphflag">

    <uib-tab index="1"  heading="ユ－ザ-数">
     <ul class="menu"><li><a href="#" ng-click="toggelTab1Graph('日')">日</a></li><li><a href="#" ng-click="toggelTab1Graph('週')">週</a></li><li><a href="#" ng-click="toggelTab1Graph('月')">月</a></li></ul>
        <div class="row mg-bot" ng-repeat="graph in tab1Graphs" ng-show="graph.title==activeTab1Graph" >
        　<div class="col-xs-12" >
          　<label>{{graph.title}}</label>
            <div fusioncharts width="100%" height="300" type="area2d" dataSource="{{graph.graph}}"> </div>
        　</div>
        </div>
    </uib-tab>

　  <uib-tab index="2"  heading="ログビ－コン反応数">
    　　<ul class="menu"><li><a href="#" ng-click="toggelTab2Graph('日')">日</a></li><li><a href="#" ng-click="toggelTab2Graph('週')">週</a></li><li><a href="#" ng-click="toggelTab2Graph('月')">月</a></li></ul>
        　<div class="row mg-bot" ng-repeat="graph in tab2Graphs" ng-show="graph.title==activeTab2Graph">
       　　 <div class="col-xs-12" ><label>{{graph.title}}</label>
            　　<div fusioncharts width="100%" height="300" type="area2d" dataSource="{{graph.graph}}"></div>
        　　</div>
        　</div>
　　</uib-tab>

    <uib-tab index="3"  heading="利用ビ－コン反応数">
    　 <ul class="menu"><li><a href="#" ng-click="toggelTab3Graph('日')">日</a></li><li><a href="#" ng-click="toggelTab3Graph('週')">週</a></li><li><a href="#" ng-click="toggelTab3Graph('月')">月</a></li></ul>
    　    <div class="row mg-bot" ng-repeat="graph in tab3Graphs" ng-show="graph.title==activeTab3Graph">
      　  <div class="col-xs-12" >月
　　　　　　　<label>{{graph.title}}</label>
            　<div fusioncharts width="100%" height="300" type="area2d" dataSource="{{graph.graph}}"> </div>
        　</div>
        　</div>
    </uib-tab>

    <uib-tab index="4"  heading="CV ビ－コン反応数">
    　 <ul class="menu"><li><a href="#" ng-click="toggelTab4Graph('日')">日</a></li><li><a href="#" ng-click="toggelTab4Graph('週')">週</a></li><li><a href="#" ng-click="toggelTab4Graph('月')">月</a></li></ul>
    　    <div class="row mg-bot" ng-repeat="graph in tab4Graphs" ng-show="graph.title==activeTab4Graph">
      　  <div class="col-xs-12" >
　　　　　　　<label>{{graph.title}}</label>
            　<div fusioncharts width="100%" height="300" type="area2d" dataSource="{{graph.graph}}"> </div>
        　</div>
        　</div>
    </uib-tab>
　 </uib-tabset>


　　</div>
</body>

<script>
    var json_page=   "../../static/gg/custom_json/page_a011.json";

    var topBoxColor=["#CB6674","#3362BB","#CB6674"];


    //-------------- Graph Setup -----------------------------------------------------------------------------
    var dailyGraphTitle=   "日";
    var monthlyGraphTitle= "月";
    var weeklyGraphTitle=  "週";

    function areaChart(){ return {
       "chart": { "caption": "", "subcaption": "", "plotgradientcolor": "", "bgcolor": "FFFFFF",
                  "showalternatehgridcolor": "0", "showplotborder": "0", "showvalues": "0", "labeldisplay": "WRAP",
                  "divlinecolor": "CCCCCC", "showcanvasborder": "0", "canvasborderalpha": "0", "palettecolors": "990000",
                  "yaxisvaluespadding": "10", "showborder": "0"
                },
       "data": []
       }
    }

</script>


<script>
    // Initiliation Graphs, Tables
    angular.module("app", ['ng-fusioncharts', 'ui.grid','ui.bootstrap']).controller("rootCtrl",function($scope,$http){

        $scope.activeTab1Graph=dailyGraphTitle;
        $scope.activeTab2Graph=dailyGraphTitle;
        $scope.activeTab3Graph=dailyGraphTitle;
        $scope.activeTab4Graph=dailyGraphTitle;

        $scope.toggelTab1Graph=function(type){  $scope.activeTab1Graph=type }
        $scope.toggelTab2Graph=function(type){  $scope.activeTab2Graph=type;}
        $scope.toggelTab3Graph=function(type){   $scope.activeTab3Graph=type; }
        $scope.toggelTab4Graph=function(type){   $scope.activeTab4Graph=type; }



        $http.get(json_page).then(function(res){

            //------------------ Top boxes ------------------------------------------------------
            $scope.topBoxColor=  topBoxColor;
            $scope.firstGraph=   res.data.value_top.data;
            $scope.set_color=    function(index){
                console.log(index)
                return {
                    color:$scope.topBoxColor[index%$scope.topBoxColor.length]
                }
            }


            // ------------------  Tab Graph -------------------------------------------
            $scope.middleGraphTab1=res.data.graph_middle_tab1;
            //----------------daily graph -tab1-----------------------------------------
            $scope.tab1Daily=$scope.middleGraphTab1.daily_graph.data;
            $scope.tab1DailyGraph=areaChart();
            for(var index=0;index< $scope.tab1Daily.categories[0].data.length;index++){
                $scope.tab1DailyGraph.data.push({
                    label:$scope.tab1Daily.xaxis.data[index].value,
                    value:$scope.tab1Daily.categories[0].data[index].value
                })
            }
            
            //---------------weekly graph -tab1-----------------------------------------
            $scope.tab1Weekly=$scope.middleGraphTab1.weekly_graph.data;
            $scope.tab1WeeklyGraph=areaChart();
            for(var index=0;index< $scope.tab1Weekly.categories[0].data.length;index++){
                $scope.tab1WeeklyGraph.data.push({
                    label:$scope.tab1Weekly.xaxis.data[index].value,
                    value:$scope.tab1Weekly.categories[0].data[index].value
                })
            }
            //--------------monthly graph -tab1------------------------------------------
            $scope.tab1monthly=$scope.middleGraphTab1.monthly_graph.data;
            $scope.tab1MonthlyGraph=areaChart();
            for(var index=0;index< $scope.tab1monthly.categories[0].data.length;index++){
                $scope.tab1MonthlyGraph.data.push({
                    label:$scope.tab1monthly.xaxis.data[index].value,
                    value:$scope.tab1monthly.categories[0].data[index].value
                })
            }
            $scope.tab1Graphs=[]
            $scope.tab1Graphs.push({title:dailyGraphTitle,"graph": $scope.tab1DailyGraph});
            $scope.tab1Graphs.push({title:weeklyGraphTitle,graph: $scope.tab1WeeklyGraph});
            $scope.tab1Graphs.push( {title:monthlyGraphTitle,graph:$scope.tab1MonthlyGraph});
            
            
            
            //------------------Tab2 graph----------------------------
            //----------------daily graph -tab2-----------------------
            $scope.middleGraphTab2=res.data.graph_middle_tab2;
            $scope.tab2Daily=$scope.middleGraphTab2.daily_graph.data;
            $scope.tab2DailyGraph=areaChart();
            for(var index=0;index< $scope.tab2Daily.categories[0].data.length;index++){
                $scope.tab2DailyGraph.data.push({
                    label:$scope.tab2Daily.xaxis.data[index].value,
                    value:$scope.tab2Daily.categories[0].data[index].value
                })
            }
            
            //---------------weekly graph -tab2-------------
            $scope.tab2Weekly=$scope.middleGraphTab2.weekly_graph.data;
            $scope.tab2WeeklyGraph=areaChart();
            for(var index=0;index< $scope.tab2Weekly.categories[0].data.length;index++){
                $scope.tab2WeeklyGraph.data.push({
                    label:$scope.tab2Weekly.xaxis.data[index].value,
                    value:$scope.tab2Weekly.categories[0].data[index].value
                })
            }
            //--------------monthly graph -tab2-------------------
            $scope.tab2monthly=$scope.middleGraphTab2.monthly_graph.data;
            $scope.tab2MonthlyGraph=areaChart();
            for(var index=0;index< $scope.tab2monthly.categories[0].data.length;index++){
                $scope.tab2MonthlyGraph.data.push({
                    label:$scope.tab2monthly.xaxis.data[index].value,
                    value:$scope.tab2monthly.categories[0].data[index].value
                })
            }
            $scope.tab2Graphs=[]
            $scope.tab2Graphs.push({title:dailyGraphTitle,graph: $scope.tab2DailyGraph});
            $scope.tab2Graphs.push({title:weeklyGraphTitle,graph: $scope.tab2WeeklyGraph});
            $scope.tab2Graphs.push({title:monthlyGraphTitle,graph: $scope.tab2MonthlyGraph});




            //---------------Tab3 graph-------
            //----------------daily graph -tab3-----------------------
            $scope.middleGraphTab3=res.data.graph_middle_tab3;
            $scope.tab3Daily=$scope.middleGraphTab3.daily_graph.data;
            $scope.tab3DailyGraph=areaChart();
            for(var index=0;index< $scope.tab3Daily.categories[0].data.length;index++){
                $scope.tab3DailyGraph.data.push({
                    label:$scope.tab3Daily.xaxis.data[index].value,
                    value:$scope.tab3Daily.categories[0].data[index].value
                })
            }
            
            //---------------weekly graph -tab3-------------
            $scope.tab3Weekly=$scope.middleGraphTab3.weekly_graph.data;
            $scope.tab3WeeklyGraph=areaChart();
            for(var index=0;index< $scope.tab3Weekly.categories[0].data.length;index++){
                $scope.tab3WeeklyGraph.data.push({
                    label:$scope.tab3Weekly.xaxis.data[index].value,
                    value:$scope.tab3Weekly.categories[0].data[index].value
                })
            }
            //--------------monthly graph -tab3-------------------
            $scope.tab3monthly=$scope.middleGraphTab3.monthly_graph.data;
            $scope.tab3MonthlyGraph=areaChart();
            for(var index=0;index< $scope.tab3monthly.categories[0].data.length;index++){
                $scope.tab3MonthlyGraph.data.push({
                    label:$scope.tab3monthly.xaxis.data[index].value,
                    value:$scope.tab3monthly.categories[0].data[index].value
                })
            }
            $scope.tab3Graphs=[]
            $scope.tab3Graphs.push( {title:dailyGraphTitle,"graph":$scope.tab3DailyGraph});
             $scope.tab3Graphs.push({title:weeklyGraphTitle,"graph": $scope.tab3WeeklyGraph});
            $scope.tab3Graphs.push( {title:monthlyGraphTitle,"graph":$scope.tab3MonthlyGraph});
            $scope.tabGraphflag=true;


            //---------------Tab4 graph---------------------------------------------------------
            //----------------daily graph -tab4------------------------------------------------
            $scope.middleGraphTab4= res.data.graph_middle_tab4;
            $scope.tab4Daily=$scope.middleGraphTab4.daily_graph.data;
            $scope.tab4DailyGraph=areaChart();
            for(var index=0;index< $scope.tab4Daily.categories[0].data.length;index++){
                $scope.tab4DailyGraph.data.push({
                    label:$scope.tab4Daily.xaxis.data[index].value,
                    value:$scope.tab4Daily.categories[0].data[index].value
                })
            }

            //---------------weekly graph -tab4-------------
            $scope.tab4Weekly=$scope.middleGraphTab4.weekly_graph.data;
            $scope.tab4WeeklyGraph=areaChart();
            for(var index=0;index< $scope.tab3Weekly.categories[0].data.length;index++){
                $scope.tab4WeeklyGraph.data.push({
                    label:$scope.tab4Weekly.xaxis.data[index].value,
                    value:$scope.tab4Weekly.categories[0].data[index].value
                })
            }

            //--------------monthly graph -tab3-------------------
            $scope.tab4monthly=$scope.middleGraphTab4.monthly_graph.data;
            $scope.tab4MonthlyGraph=areaChart();
            for(var index=0;index< $scope.tab4monthly.categories[0].data.length;index++){
                $scope.tab4MonthlyGraph.data.push({
                    label:$scope.tab4monthly.xaxis.data[index].value,
                    value:$scope.tab4monthly.categories[0].data[index].value
                })
            }

            $scope.tab4Graphs=[]
            $scope.tab4Graphs.push( {title:dailyGraphTitle,"graph":$scope.tab4DailyGraph});
            $scope.tab4Graphs.push({title:weeklyGraphTitle,"graph": $scope.tab4WeeklyGraph});
            $scope.tab4Graphs.push( {title:monthlyGraphTitle,"graph":$scope.tab4MonthlyGraph});
            $scope.tabGraphflag=true;



        })
    })
    </script>
</html>

{% endverbatim %}