{% verbatim %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>A011</title>
    <!-- load library--->
    <script src="../../static/gg/custom_js_css/jquery-3.2.1.js"></script>
    <script src="../../static/gg/custom_js_css/jquery-ui.js"></script>
    <script src="../../static/gg/custom_js_css/dbca6ceb2a.js"></script>
    <script type="text/javascript" src="../../static/gg/custom_js_css/angular/angular.js"></script>
     <script type="text/javascript" src="../../static/gg/custom_js_css/angular/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <!--    fusion chart library-->
    <script type="text/javascript" src="../../static/gg/fusioncharts/js/fusioncharts.js"></script>
    <script type="text/javascript" src="../../static/gg/fusioncharts/wrappers/angularjs/angular-fusioncharts.min.js"></script>
    <script src="../../static/gg/custom_js_css/ui-grid.min.js"></script>
    <link rel="stylesheet" href="../../static/gg/custom_js_css/ui-grid.min.css">

    <!-- Tabulator -->
    <link href="../../static/gg/custom_js_css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/gg/tabulator/tabulator.js"></script>

    <link rel="stylesheet" href="../../static/gg/custom_js_css/bootstrap.min.css">
  <style>
      *{ box-sizing:border-box;}
      .box{   border-radius: 4px;   border: 3px solid #E6E6E6;  }
      .box-container{ padding:10px;   }
      .value {  font-size: 25px;  text-align: right; padding: 10px;   color:#CB6674; }
      .title { padding: 5px;
      /* color: #868686; */
      }
      .glyphicon{  font-size: 20px;   }
      .mg-bot{     margin-bottom: 20px; }
      ul.menu{     list-style:none }
      ul.menu li{  display:inline-block;  padding:10px;  }

    </style>

<script>
var json_page=       "../../static/gg/custom_json/page_a027_area.json";



//------------------ Bottom big table options------------------------------------------------------
function pctFormat(value, data, cell, row, options) {   return value + "%";  }; //plain text value

var table_bottom1_static= {fitColumns: true,
   columns: [{title: "CV Area 1",   field: "1", align: "left", sorter:"string" },
             {title: "CV Area 2",   field: "2"},
             {title: "percentage",  field: "3", align: "center", formatter: "progress"},
             {title: "percentage",  field: "3", align: "center", formatter: pctFormat},
             {title: "Pct 1" , field: "4"} ,
             {title: "Pct 2"  , field: "5"}], }



var table_bottom2_static= {fitColumns: true,
   columns: [{title: "CV Area 1",   field: "1", align: "left", sorter:"string" },
             {title: "CV Area 2",   field: "2"},
             {title: "percentage",  field: "3", align: "center", formatter: "progress"},
             {title: "percentage",  field: "3", align: "center", formatter: pctFormat},
             {title: "Pct 1" , field: "4"} ,
             {title: "Pct 2"  , field: "5"}], }





//------------------------- Bottom  Tables--------------------------------------------------


</script>




</head>

<body>
    <div class="container" ng-app="app" ng-controller="rootCtrl">



    <hr>


   <!--- Map    ---->
   <table width="100%">
        <tr><td  width="100%">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.0846063198546!2d139.76063121491063!3d35.67491868019574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188be5454f4cd5%3A0xb887d7273136016a!2zWcWrcmFrdWNoxY0gU3RhdGlvbg!5e0!3m2!1sen!2sus!4v1493521755544" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </td></tr>
　　</table>






<!---- Big Table bottom Tabulator  -------------------------------------------------->
<div id="table_bottom1"></div>



<!---- Big Table bottom Tabulator  -------------------------------------------------->
<div id="table_bottom2"></div>


　　</div>
</body>







<script>
// Initiliation Graphs, Tables  ------------------------------------------------------------------
var app = angular.module("app", ['ng-fusioncharts', 'ui.grid','ui.bootstrap']);





//  JSON to Angular
app.controller('rootCtrl',  function($scope, $http){
        // Asynchrone Get
        $http.get(json_page).then(function(res){


        //-----------  Bottom Big Table  ------------------------------------------------------------
        $("#table_bottom1").tabulator(table_bottom1_static);
        $("#table_bottom1").tabulator("setData", res.data.table_bottom1.rows);




        //-----------  Bottom Big Table  ------------------------------------------------------------
        $("#table_bottom2").tabulator(table_bottom2_static);
        $("#table_bottom2").tabulator("setData", res.data.table_bottom2.rows);






        })



})
</script>


<!---

//-------------line graph caption  ________________________________________________________
var lineGraphColors=["#C72C5E", "#DE3E58", "#A1B1C3"]
var LINE_CAPTION="caption for line graph";
var LINE_SUBCAPTION="subcaption for line graph"
var lineChartOptions={
  "chart": { "caption": "Daily Visits", "linethickness": "1", "showvalues": "0","formatnumberscale": "0", "anchorradius": "2", "divlinecolor": "666666", "divlinealpha": "30", "divlineisdashed": "1", "labelstep": "2", "bgcolor": "FFFFFF", "showalternatehgridcolor": "0", "labelpadding": "10", "canvasborderthickness": "1", "legendiconscale": "1.5", "legendshadow": "0", "legendborderalpha": "0", "canvasborderalpha": "50", "numvdivlines": "5", "vdivlinealpha": "20", "showborder": "0" }
  ,"categories": [ {"category": [] } ]
  , "dataset": []
}



//____________________-pyramidChartOptions_______________________________________________
pyramidGraphColors=["#9BAEBC", "# E65065", "#CB145B"];

var pyramidChartOptions = {
  "chart": {"caption": "", "subcaption": "", "linethickness": "1", "showvalues": "0", "formatnumberscale": "0", "anchorradius": "2", "divlinecolor": "666666", "divlinealpha": "30", "divlineisdashed": "1", "labelstep": "2", "bgcolor": "FFFFFF", "showalternatehgridcolor": "0", "labelpadding": "10", "canvasborderthickness": "1", "legendiconscale": "1.5", "legendshadow": "0", "legendborderalpha": "0", "canvasborderalpha": "50", "numvdivlines": "5", "vdivlinealpha": "20", "showborder": "0", "showtooltip": "1", "paletteColors": "#46b8da,#993f6c,#cc0000", labelDisplay: "wrap", "showLabelsAtCenter": "1", "baseFontSize": "12", "baseFontColor": "#fff", "numberSuffix": "$", "plotToolText": "$label", "showToolTipShadow": "1", "toolTipBorderColor": "#FFFFFF", "plottooltext": "<div class='tooltip-custom'>$label</div>", "showLegend": "1" , "outCnvBaseFontColor": "#8D8D8D" , }
  , "data": []
  , "styles": {
      "definition": [ {"name": "myToolTipFont", "type": "font", "font": "Arial", "size": "12", "color": "FF5904"} ]
      ,"application": [{"toobject": "ToolTip", "styles": "myToolTipFont"}  ]
      }
}


//---------------------table 2 options--------------------------------------------------
var table2options= {fitColumns: true,
  columns: [{title: "brand"  , field: "name"}, {title: "percentage" , field: "pct"  , align: "center" ,formatter: "progress"},
            {title: "percentage"  , field: "pct" , align: "center" , formatter: pctFormat}, {title: "count" , field: "count"},
            {title: "nb" , field: "count"}], }

function pctFormat(value, data, cell, row, options) {   return value + "%";  }; //plain text value


//------------------big table options----
var bigTableOptions= {fitColumns: true,
   columns: [{title: "id", field: "id", align: "right", sorter: "number" },{title: "brand" , field: "name"},
             {title: "percentage"  , field: "pct"  , align: "center" , formatter: "progress"},
             {title: "percentage"  , field: "pct"   , align: "center"  , formatter: pctFormat}, {title: "count" , field: "count"} ,
             {title: "nb"  , field: "count"}], }

--->




</html>

{% endverbatim %}


