<!doctype html>
<html>

<head>
    <title>Hello Charts</title>
    <link rel="stylesheet" href="ui-grid.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/2.11.0/tabulator.min.css" rel="stylesheet"> </head>
<script src="https://use.fontawesome.com/dbca6ceb2a.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="./js/fusioncharts.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script type="text/javascript" src="./wrappers/angularjs/angular-fusioncharts.min.js"></script>
<script src="ui-grid.min.js"></script>
<!-- Latest compiled and minified CSS -->
<script type="text/javascript" src="tabulator.js"></script>



<script src="main.js"></script>

<body>
    <div class="container" ng-app="chartsApp" ng-controller="rootCtrl">
        <button class="btn btn-primary" ng-click="firstGraph()">reload</button>
        <h1>Page3</h1>
        <div class="row">
            <div class="col-xs-4">
                <div fusioncharts width="100%" height="200" type="doughnut2d" dataSource="{{firstChart}}"> </div>
            </div>
            <div class="col-xs-4"> </div>
            <div class="col-xs-4"> </div>
        </div>
        <div class="hr"></div>
        <button class="btn btn-primary">button</button>
        <div class="row">
            <div class="col-xs-4">
                <div fusioncharts width="100%" height="200" type="doughnut2d" dataSource="{{firstChart_1}}"> </div>
            </div>
            <div class="col-xs-4">
                <div fusioncharts width="100%" height="200" type="doughnut2d" dataSource="{{firstChart_2}}"> </div>
            </div>
            <div class="col-xs-4">
                <div fusioncharts width="100%" height="200" type="doughnut2d" dataSource="{{firstChart_3}}"> </div>
            </div>
        </div>
        <div class="hr"></div>
        <br/>
        <div class="row">
            <div class="col-xs-4" ng-repeat="tab in alltables">
                <table id="example" class="table table-striped" cellspacing="0" width="100%">
                    <tbody>
                        <tr ng-repeat="row in tab.rows" clas="border-less">
                            <td style="border:none">{{$index+1}}</td>
                            <td style="border:none">{{row.col1}}</td>
                            <td style="border:none">{{row.col2}}</td>
                            <td style="border:none">{{' ('+row.col3+')'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br/>
        <h1>page4</h1>
        <div class="hr"></div>
        <div class="row">
            <div class="col-xs-6" ng-repeat="tab in alltables2">
                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <tbody>
                        <tr ng-repeat="row in tab.rows" class="border-less">
                            <td style="border:none">{{row.col1}}</td>
                            <td style="border:none;color:#990000">{{row.col2}}<span style="color:#{{row.color}}"><i class="fa {{row.icon}}" aria-hidden="true"></i></span> </td>
                            <td style="border:none;color:grey">{{row.col3}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-primary">button</button>
        <div class="row">
            <div class="col-xs-6" ng-repeat="graph in areaGraphs">
                <div fusioncharts width="100%" height="200" type="area2d" dataSource="{{graph.data}}"></div>
            </div>
        </div>
        <div class="hr"></div>
        <h1>page 5</h1>
        <div class="row">
            <div class="col-xs-12 margn-btm" ng-repeat="d in allBigTables">
                <div convert-table2="{{d}}"></div>
            </div>
        </div>
        <div class="hr"></div>
        <h1>page6</h1>
        <button class="btn btn-primary">button</button>
        <div class="row" ng-if="flag">
            <div class="col-xs-12">
                <div fusioncharts width="100%" height="400" type="msline" dataSource="{{line_chart}}"></div>
            </div>
        </div>
        <div class="hr"></div>
        <button class="btn btn-primary">button</button>
        <div class="row" ng-if="fusionFlag">
            <div class="col-xs-6">
                <div fusioncharts width="100%" height="250" type="pyramid" dataSource="{{pyCharts}}"></div>
            </div>
            <div class="col-xs-6" style="padding:40px">
                <table class="table table-striped table-bordered " cellspacing="0" width="100%">
                    <tr ng-repeat="row in tableRows">
                        <td>{{row.col1}}</td>
                        <td>{{row.col2}}</td>
                        <td>{{row.col3}}</td>
                        <td>{{row.col3}}</td>
                        <td>{{row.col3}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="hr"></div>
        <h1>page7</h1>
        <div class="row">
            <div class="col-xs-12 margn-btm" ng-repeat="d in allBigTables">
                <div convert-table="{{d}}"></div>
            </div>
        </div>
    </div>
</body>

</html>