.container {
    padding: 20px;
}

.hr {
    height: 1px;
    background-color: #d3d3d3;
    margin-bottom: 30px;
}

.table>tbody>tr>td {
    padding: 0px;
}

.border-less .table>tbody>tr>td {
    border: none;
}

.margn-btm {
    margin-bottom: 20px;
}